.profile__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 336px;
  padding-left: 30px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: 282px;
    padding: 26px 20px 33px 45px;
  }
}