.header__navigation_type_link {
  color: #a9a9a9;
  text-decoration:none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  padding-left: 22px;
 
}