.login__button {
  width: 100%;
  max-width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: #fff;
  color: #000;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  transition: opacity 1s linear;
  margin: 215px auto auto;
}

.login__button:hover {
  background-color: rgb(f, f, f, 0.8);
}

@media screen and (max-width:767px) {
  .login__button {
    height: 46px;
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
    /*margin: 50px auto 25px;*/

  }
}